body {
  background-color: #1d1d1d;
  font-family: Open Sans, sans-serif;
  padding: 0;
  margin: 0;
}
header {
  background: url("img/Tint.jpg") no-repeat center top / cover;
  padding-bottom: 20px;
}
header .conteiner {
  width: 1100px;
  margin: 0 auto;
}
header .conteiner .clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
header .conteiner span {
  float: left;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 50px;
}
header .conteiner nav {
  float: right;
  margin-top: 54px;
}
header .conteiner nav .menu {
  padding: 0;
  margin: 0;
  display: block;
}
header .conteiner nav .menu li {
  float: left;
  display: block;
  margin-right: 25px;
}
header .conteiner nav .menu a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
header .conteiner nav .menu a:hover {
  color: #fd7013;
  border-top: #92929e solid 2px;
  border-bottom: #fd7013 solid 2px;
}
header .titles .title_first {
  color: #ffffff;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 180px;
}
header .titles .title_first b {
  color: #fd7013;
}
header .titles h5 {
  font-size: 20px;
  color: #c3c3c3;
  text-align: center;
}
header .button {
  text-align: center;
  margin-top: 250px;
}
#about_us {
  background-color: #ffffff;
  padding-top: 100px;
}
#about_us .conteiner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
#about_us .conteiner .right_side .words_about_us {
  font-size: 34px;
  padding-left: 20px;
  padding-bottom: 3px;
  box-sizing: border-box;
}
#about_us .conteiner .right_side .words_about_us:hover {
  box-sizing: border-box;
  border-bottom: solid 1px #fd7013;
}
#about_us .conteiner .right_side .some_text {
  font-size: 18px;
  color: #6c6c6c;
  padding: 15px 0;
}
#about_us .conteiner .right_side .objectives {
  font-size: 16px;
  color: #6c6c6c;
}
#about_us .conteiner .right_side .objectives ul li {
  padding-bottom: 15px ;
}
#about_us .conteiner .right_side .button {
  color: #484543;
  border-radius: 3px;
  border: solid #7f7f7f 2px;
  display: block;
  width: 240px;
  padding: 20px 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
#about_us .conteiner .right_side .button:hover {
  background-color: #fd7013;
  color: #ffffff;
}
#meet_our_team .conteiner {
  width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
}
#meet_our_team .conteiner .main_text {
  color: #ffffff;
  font-size: 31px;
  text-align: center;
  text-transform: uppercase;
}
#meet_our_team .conteiner .small_border {
  width: 100px;
  border: #fd7013 2px solid;
  margin: 20px auto 0 auto;
}
#meet_our_team .conteiner .smaller_border {
  width: 65px;
  border: #fd7013 1px solid;
  margin: 5px auto 65px auto;
}
#meet_our_team .conteiner .cards {
  display: flex;
  flex-direction: row;
}
#meet_our_team .conteiner .cards .person {
  color: #7f7f7f;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  padding: 0 15px;
  margin-bottom: 100px;
}
#meet_our_team .conteiner .cards .person img {
  width: 125px;
  margin: 0 auto 20px auto;
}
#meet_our_team .conteiner .cards .person .name {
  font-size: 20px;
  margin-bottom: 10px;
}
#meet_our_team .conteiner .cards .person .facts {
  font-size: 16px;
  margin-bottom: 35px;
}
#meet_our_team .conteiner .cards .person .bio {
  font-size: 14px;
}
#our_services {
  background-color: #ffffff;
}
#our_services .conteiner {
  width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
}
#our_services .conteiner .main_text {
  font-size: 31px;
  text-align: center;
  text-transform: uppercase;
}
#our_services .conteiner .small_border {
  width: 100px;
  border: #fd7013 2px solid;
  margin: 20px auto 0 auto;
}
#our_services .conteiner .smaller_border {
  width: 65px;
  border: #fd7013 1px solid;
  margin: 5px auto 65px auto;
}
#our_services .conteiner .text_in_os {
  text-align: center;
  color: #6c6c6c;
  font-size: 16px;
  margin-bottom: 125px;
}
#our_services .conteiner .forms {
  display: flex;
  flex-direction: row;
}
#our_services .conteiner .forms .form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 25px;
  margin-bottom: 100px;
}
#our_services .conteiner .forms .form img {
  width: 125px;
  margin: 0 auto 20px auto;
}
#our_services .conteiner .forms .form .service_name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
#contact_us .conteiner {
  width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
}
#contact_us .conteiner .contact_us {
  color: #ffffff;
  font-size: 31px;
  text-align: center;
  text-transform: uppercase;
}
#contact_us .conteiner .small_border {
  width: 100px;
  border: #fd7013 2px solid;
  margin: 20px auto 0 auto;
}
#contact_us .conteiner .smaller_border {
  width: 65px;
  border: #fd7013 1px solid;
  margin: 5px auto 65px auto;
}
#contact_us .conteiner .text_in_cu {
  text-align: center;
  color: #6c6c6c;
  font-size: 16px;
  margin-bottom: 125px;
}
#contact_us .conteiner .name_and_email {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#contact_us .conteiner .name_and_email .button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  height: 42px;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal 20px / normal "Antic", Helvetica, sans-serif;
  color: #8c8c8c;
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40, 40, 40, 0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
#contact_us .conteiner .name_and_email .button:hover {
  color: #b5b5b5;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
#contact_us .conteiner .name_and_email .button:focus {
  width: 213px;
  cursor: default;
  padding: -13px 20px 0;
  color: #ffffff;
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
footer .conteiner {
  width: 1100px;
  margin: 30px auto 30px auto;
}
footer .conteiner .clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
footer .conteiner .left_text {
  color: #787878;
  float: left;
  display: block;
  font-size: 12px;
}
footer .conteiner .links {
  float: right;
}
footer .conteiner ul {
  padding: 0;
  margin: 0;
  display: block;
}
footer .conteiner ul li {
  float: left;
  display: block;
  margin-right: 25px;
}
footer .conteiner ul a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
